# Node.js dependencies
node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
debug.log
error.log

# Build and Cache
dist/
build/
.cache/
.vscode/
.DS_Store
coverage/
public/*.cache

# IDE & System Files
.idea/
.vscode/
Thumbs.db

# React Specific
frontend/.env
frontend/build/

# Backend Specific
backend/.env
backend/.cache
